# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
sidenLogoDash.tsx
logocircularsiden1.png
logocircularsiden.png
logo.png
logo1.png
frontend/public/logo1.png
frontend/public/logo.png

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*
*:Zone.Identifier

